<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
               <item name="LearningCheckoutContactLayoutProcessor"  xsi:type="object">
               Learning\Checkout\Block\LayoutProcessor
               </item>
            </argument>
        </arguments>
    </type>
</config>